## Template for specifying forbidden parameter configurations in irace.
##
## This filename must be specified via the --forbidden-file command-line option
## (or forbiddenFile in scenario.txt).
##
## The format is one constraint per line. Each constraint is a logical
## expression (in R syntax). If a parameter configuration
## is generated that makes the logical expression evaluate to TRUE,
## then the configuration is discarded.
##
## Examples of valid logical operators are: ==  !=  >=  <=  >  <  &  |  !  %in%
param1 < 5 & mode == "x1"
(param2 > 6 & mode == "x1") | (param2 <= 6 & mode == "x2")
real < 4 & mode %in% c("x2", "x3")
